
Data/.vs/*
Data/Data/bin/*
Data/Data/obj/*
Data/Data/Data.csproj.user
Data/Data/database.db-shm
Data/Data/database.db-wal
Data/APIBridge/target/*
Data/APIBridge/API_Testing.iml


Android/.gradle
Android/.idea
Android/app/build
.idea

IOT/.vs
IOT/IoT/Debug
Data/sep4.asta.lock
